__pycache__/
*/__pycache__/
**/__pycache__/
*.pyc
*.csv
*_relaxed.pdb*
*AA.txt
*.json
*.pkl
test*/
.venv/
*.pdb*
*.txt
*.csv
*.json
exec_test.sh
checkpoint.pkl
loggest.txt
test.ipynb
exec_test.sh
*.sqsh