__pycache__/
*/__pycache__/
**/__pycache__/
*.pyc
*.csv
*.json
*.pkl
tests/
.venv/
*.pdb*
*.txt
*.csv
*.json
exec_test.sh
checkpoint.pkl
loggest.txt
test.ipynb
exec_test.sh
*.sqsh
experiments
*.zip
*.sqsh
compress_runs.sh
replicates.sh