asttokens==2.4.1
backcall==0.2.0
cryptography==2.8
deap==1.4.3
decorator==5.1.1
executing==2.1.0
ipython==8.12.3
jedi==0.19.1
matplotlib-inline==0.1.7
numpy==1.17.4
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
prompt-toolkit==3.0.47
ptyprocess==0.7.0
pure-eval==0.2.3
pygments==2.18.0
pyOpenSSL==19.0.0
pyrosetta==2024.38+head.200d5f9a7d
six==1.14.0
stack-data==0.6.3
traitlets==5.14.3
typing-extensions==4.12.2
wcwidth==0.2.13
